In [1]:
import pandas as pd
import bs4
import requests

In [2]:
dogs_list = ['dog1.html', 'dog2.html', 'dog3.html', 'dog4.html', 'dog5.html']

In [3]:
dogs_empty = []


for file in dogs_list:
    with open(file, 'r') as dogs:
        dogs_empty.append(bs4.BeautifulSoup(dogs, 'html.parser'))

In [4]:
len(dogs_empty)

5

In [5]:
for file in dogs_empty:
    print(file.title)

<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>

In [6]:
for i in dogs_empty:
    print(i.select("p"))

[<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Labrador-Retriever.html" title="Labrador Retriever - Price, Temperament, Life span">Labrador Retriever</a></p>, <p>#1</p>, <p>No</p>, <p>7</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#1</p>, <p>Cheerful</p>, <p>Gentle</p>, <p>Friendly</p>, <p>Intelligent</p>, <p>No</p>, <p>7</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/german-shepherd-dog.html" title="German Shepherd Dog - Price, Temperament, Life span">German Shepherd</a></p>, <p>#2</p>, <p>No</p>, <p>3</p>, <p><b>Price:</b> $800 - $2000</p>, <p>#2</p>, <p>Courageous</p>, <p>Intelligent</p>, <p>Loyal</p>, <p>Watchful</p>, <p>No</p>, <p>3</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Golden-Retriever.html" title="Golden Retriever - Price, Temperament, Life span">Golden Retriever</a></p>, <p>#3</p>, <p>No</p>, <p>4</p>, <p><b>Price:</b> $1000 - $2000</p>, <p>#3</p>, <p>Intelligent</p>, <p>Kind</p>, <p>Friendly</p>, <p>Confident</p>, <p>No</p>, <p>4</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/French-Bulldog.html" title="French Bulldog - Price, Temperament, Life span">French Bulldog</a></p>, <p>#4</p>, <p>No</p>, <p>58</p>, <p><b>Price:</b> $2000 - $4000</p>, <p>#4</p>, <p>Playful</p>, <p>Sociable</p>, <p>Lively</p>, <p>Patient</p>, <p>No</p>, <p>58</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Bulldog.html" title="Bulldog - Price, Temperament, Life span">Bulldog</a></p>, <p>#5</p>, <p>No</p>, <p>77</p>, <p><b>Price:</b> $2000 - $4000</p>, <p>#5</p>, <p>Friendly</p>, <p>Docile</p>, <p>Willful</p>, <p>Gregarious</p>, <p>No</p>, <p>77</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Poodle.html" title="Poodle (Standard) - Price, Temperament, Life span">Poodle</a></p>, <p>#6</p>, <p class="yes">Yes</p>, <p>2</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#6</p>, <p>Intelligent</p>, <p>Faithful</p>, <p>Trainable</p>, <p>Instinctual</p>, <p class="yes">Yes</p>, <p>2</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Beagle.html" title="Beagle - Price, Temperament, Life span">Beagle</a></p>, <p>#7</p>, <p>No</p>, <p>72</p>, <p><b>Price:</b> $500 - $800</p>, <p>#7</p>, <p>Gentle</p>, <p>Intelligent</p>, <p>Even Tempered</p>, <p>Determined</p>, <p>No</p>, <p>72</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Rottweiler.html" title="Rottweiler - Price, Temperament, Life span">Rottweiler</a></p>, <p>#8</p>, <p>No</p>, <p>9</p>, <p><b>Price:</b> $1000 - $1500</p>, <p>#8</p>, <p>Intelligent</p>, <p>Courageous</p>, <p>Fearless</p>, <p>Confident</p>, <p>No</p>, <p>9</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/German-Shorthaired-Pointer.html" title="German Shorthaired Pointer - Price, Temperament, Life span">German Shorthaired Pointer</a></p>, <p>#9</p>, <p>No</p>, <p>17</p>, <p><b>Price:</b> $600 - $1000</p>, <p>#9</p>, <p>Intelligent</p>, <p>Trainable</p>, <p>Boisterous</p>, <p>Cooperative</p>, <p>No</p>, <p>17</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Pembroke-Welsh-Corgi.html" title="Pembroke Welsh Corgi - Price, Temperament, Life span">Pembroke Welsh Corgi</a></p>, <p>#10</p>, <p>No</p>, <p>11</p>, <p><b>Price:</b> $1000 - $2000</p>, <p>#10</p>, <p>Intelligent</p>, <p>Playful</p>, <p>Outgoing</p>, <p>Friendly</p>, <p>No</p>, <p>11</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Dachshund.html" title="Dachshund (Toy, Miniature, Standard) - Price, Temperament, Life span">Dachshund</a></p>, <p>#11</p>, <p>No</p>, <p>49</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#11</p>, <p>Clever</p>, <p>Courageous</p>, <p>Devoted</p>, <p>Lively</p>, <p>No</p>, <p>49</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Yorkshire-Terrier.html" title="Yorkshire Terrier - Price, Temperament, Life span">Yorkshire Terrier</a></p>, <p>#12</p>, <p class="yes">Yes</p>, <p>27</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#12</p>, <p>Independent</p>, <p>Intelligent</p>, <p>Courageous</p>, <p>Confident</p>, <p class="yes">Yes</p>, <p>27</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Australian-Shepherd.html" title="Australian Shepherd - Price, Temperament, Life span">Australian Shepherd</a></p>, <p>#13</p>, <p>No</p>, <p>42</p>, <p><b>Price:</b> $600 - $1000</p>, <p>#13</p>, <p>Active</p>, <p>Intelligent</p>, <p>Good-natured</p>, <p>Protective</p>, <p>No</p>, <p>42</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Boxer.html" title="Boxer - Price, Temperament, Life span">Boxer</a></p>, <p>#14</p>, <p>No</p>, <p>48</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#14</p>, <p>Playful</p>, <p>Friendly</p>, <p>Devoted</p>, <p>Loyal</p>, <p>No</p>, <p>48</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Siberian-Husky.html" title="Siberian Husky - Price, Temperament, Life span">Siberian Husky</a></p>, <p>#15</p>, <p>No</p>, <p>45</p>, <p><b>Price:</b> $600 - $1000</p>, <p>#15</p>, <p>Gentle</p>, <p>Intelligent</p>, <p>Outgoing</p>, <p>Friendly</p>, <p>No</p>, <p>45</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Cavalier-King-Charles-Spaniel.html" title="Cavalier King Charles Spaniel - Price, Temperament, Life span">Cavalier King Charles Spaniel</a></p>, <p>#16</p>, <p>No</p>, <p>44</p>, <p><b>Price:</b> $1200 - $2000</p>, <p>#16</p>, <p>Playful</p>, <p>Sociable</p>, <p>Patient</p>, <p>Fearless</p>, <p>No</p>, <p>44</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Great-Dane.html" title="Great Dane - Price, Temperament, Life span">Great Dane</a></p>, <p>#17</p>, <p>No</p>, <p>48</p>, <p><b>Price:</b> $600 - $1000</p>, <p>#17</p>, <p>Gentle</p>, <p>Friendly</p>, <p>Devoted</p>, <p>Reserved</p>, <p>No</p>, <p>48</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Miniature-Schnauzer.html" title="Miniature Schnauzer - Price, Temperament, Life span">Miniature Schnauzer</a></p>, <p>#18</p>, <p class="yes">Yes</p>, <p>12</p>, <p><b>Price:</b> $1000 - $1500</p>, <p>#18</p>, <p>Intelligent</p>, <p>Friendly</p>, <p>Obedient</p>, <p>Fearless</p>, <p class="yes">Yes</p>, <p>12</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Doberman-Pinscher.html" title="Doberman Pinscher - Price, Temperament, Life span">Doberman Pinscher</a></p>, <p>#19</p>, <p>No</p>, <p>5</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#19</p>, <p>Intelligent</p>, <p>Obedient</p>, <p>Loyal</p>, <p>Energetic</p>, <p>No</p>, <p>5</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Shih-Tzu.html" title="Shih Tzu - Price, Temperament, Life span">Shih Tzu</a></p>, <p>#20</p>, <p class="yes">Yes</p>, <p>70</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#20</p>, <p>Happy</p>, <p>Playful</p>, <p>Gentle</p>, <p>Friendly</p>, <p class="yes">Yes</p>, <p>70</p>]
[<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Boston-Terrier.html" title="Boston Terrier - Price, Temperament, Life span">Boston Terrier</a></p>, <p>#21</p>, <p>No</p>, <p>54</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#21</p>, <p>Intelligent</p>, <p>Friendly</p>, <p>Lively</p>, <p>Playful</p>, <p>No</p>, <p>54</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Havanese.html" title="Havanese - Price, Temperament, Life span">Havanese</a></p>, <p>#22</p>, <p class="yes">Yes</p>, <p>45</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#22</p>, <p>Companionable</p>, <p>Responsive</p>, <p>Playful</p>, <p>Affectionate</p>, <p class="yes">Yes</p>, <p>45</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Bernese-Mountain-Dog.html" title="Bernese Mountain Dog - Price, Temperament, Life span">Bernese Mountain Dog</a></p>, <p>#23</p>, <p>No</p>, <p>22</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#23</p>, <p>Affectionate</p>, <p>Intelligent</p>, <p>Loyal</p>, <p>Faithful</p>, <p>No</p>, <p>22</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Pomeranian.html" title="Pomeranian - Price, Temperament, Life span">Pomeranian</a></p>, <p>#24</p>, <p>No</p>, <p>23</p>, <p><b>Price:</b> $1500 - $2500</p>, <p>#24</p>, <p>Playful</p>, <p>Intelligent</p>, <p>Sociable</p>, <p>Friendly</p>, <p>No</p>, <p>23</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Shetland-Sheepdog.html" title="Shetland Sheepdog - Price, Temperament, Life span">Shetland Sheepdog</a></p>, <p>#25</p>, <p>No</p>, <p>6</p>, <p><b>Price:</b> $800 - $1000</p>, <p>#25</p>, <p>Playful</p>, <p>Gentle</p>, <p>Intelligent</p>, <p>Lively</p>, <p>No</p>, <p>6</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/French-Brittany.html" title="Brittany - Price, Temperament, Life span">Brittany</a></p>, <p>#26</p>, <p>No</p>, <p>19</p>, <p><b>Price:</b> $700 - $1000</p>, <p>#26</p>, <p>Happy</p>, <p>Intelligent</p>, <p>Agile</p>, <p>Quick</p>, <p>No</p>, <p>19</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/English-Springer-Spaniel.html" title="English Springer Spaniel - Price, Temperament, Life span">English Springer Spaniel</a></p>, <p>#27</p>, <p>No</p>, <p>13</p>, <p><b>Price:</b> $700 - $1000</p>, <p>#27</p>, <p>Attentive</p>, <p>Intelligent</p>, <p>Active</p>, <p>Cheerful</p>, <p>No</p>, <p>13</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/American-Cocker-Spaniel.html" title="American Cocker Spaniel - Price, Temperament, Life span">American Cocker Spaniel</a></p>, <p>#28</p>, <p>No</p>, <p>20</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#28</p>, <p>Outgoing</p>, <p>Sociable</p>, <p>Even Tempered</p>, <p>Trusting</p>, <p>No</p>, <p>20</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Miniature-American-Shepherd.html" title="Miniature American Shepherd - Price, Temperament, Life span">Miniature American Shepherd</a></p>, <p>#29</p>, <p>-</p>, <p>-</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#29</p>, <p>Energetic</p>, <p>Intelligent</p>, <p>Loyal</p>, <p>-</p>, <p>-</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Cane-Corso-Italiano.html" title="Cane Corso - Price, Temperament, Life span">Cane Corso</a></p>, <p>#30</p>, <p>No</p>, <p>-</p>, <p><b>Price:</b> $1500 - $2000</p>, <p>#30</p>, <p>Quiet</p>, <p>Even Tempered</p>, <p>Calm</p>, <p>Reserved</p>, <p>No</p>, <p>-</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Pug.html" title="Pug - Price, Temperament, Life span">Pug</a></p>, <p>#31</p>, <p>No</p>, <p>57</p>, <p><b>Price:</b> $1000 - $1500</p>, <p>#31</p>, <p>Playful</p>, <p>Stubborn</p>, <p>Attentive</p>, <p>Sociable</p>, <p>No</p>, <p>57</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/English-Mastiff.html" title="Mastiff - Price, Temperament, Life span">Mastiff</a></p>, <p>#32</p>, <p>No</p>, <p>72</p>, <p><b>Price:</b> $1000 - $1500</p>, <p>#32</p>, <p>Dignified</p>, <p>Affectionate</p>, <p>Good-natured</p>, <p>Courageous</p>, <p>No</p>, <p>72</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Border-Collie.html" title="Border Collie - Price, Temperament, Life span">Border Collie</a></p>, <p>#33</p>, <p>No</p>, <p>1</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#33</p>, <p>Intelligent</p>, <p>Energetic</p>, <p>Tenacious</p>, <p>Responsive</p>, <p>No</p>, <p>1</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Vizsla.html" title="Vizsla - Price, Temperament, Life span">Vizsla</a></p>, <p>#34</p>, <p>No</p>, <p>25</p>, <p><b>Price:</b> $1000 - $1500</p>, <p>#34</p>, <p>Intelligent</p>, <p>Loyal</p>, <p>Affectionate</p>, <p>Energetic</p>, <p>No</p>, <p>25</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Chihuahua.html" title="Chihuahua - Price, Temperament, Life span">Chihuahua</a></p>, <p>#35</p>, <p>No</p>, <p>67</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#35</p>, <p>Devoted</p>, <p>Quick</p>, <p>Courageous</p>, <p>Lively</p>, <p>No</p>, <p>67</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Maltese-Dog.html" title="Maltese - Price, Temperament, Life span">Maltese</a></p>, <p>#36</p>, <p class="yes">Yes</p>, <p>59</p>, <p><b>Price:</b> $800 - $1500</p>, <p>#36</p>, <p>Playful</p>, <p>Gentle</p>, <p>Lively</p>, <p>Docile</p>, <p class="yes">Yes</p>, <p>59</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Basset-Hound.html" title="Basset Hound - Price, Temperament, Life span">Basset Hound</a></p>, <p>#37</p>, <p>No</p>, <p>71</p>, <p><b>Price:</b> $700 - $1000</p>, <p>#37</p>, <p>Gentle</p>, <p>Friendly</p>, <p>Devoted</p>, <p>Sweet-Tempered</p>, <p>No</p>, <p>71</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Rough-Collie.html" title="Collie - Price, Temperament, Life span">Collie</a></p>, <p>#38</p>, <p>No</p>, <p>16</p>, <p><b>Price:</b> $800 - $1200</p>, <p>#38</p>, <p>Gentle</p>, <p>Loyal</p>, <p>Intelligent</p>, <p>Protective</p>, <p>No</p>, <p>16</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Weimaraner.html" title="Weimaraner - Price, Temperament, Life span">Weimaraner</a></p>, <p>#39</p>, <p>No</p>, <p>21</p>, <p><b>Price:</b> $700 - $1000</p>, <p>#39</p>, <p>Energetic</p>, <p>Stubborn</p>, <p>Fast</p>, <p>Intelligent</p>, <p>No</p>, <p>21</p>, <p><a href="https://www.dogbreedslist.info/all-dog-breeds/Newfoundland.html" title="Newfoundland - Price, Temperament, Life span">Newfoundland</a></p>, <p>#40</p>, <p>No</p>, <p>34</p>, <p><b>Price:</b> $1200 - $2000</p>, <p>#40</p>, <p>Gentle</p>, <p>Trainable</p>, <p>Sweet-Tempered</p>, <p>No</p>, <p>34</p>]

In [7]:
dogs_var = []

for file in dogs_empty:
    dogs_var.append(list(file.select("p")))

In [8]:
len(dogs_var)

5

In [9]:
for i in dogs_var:
    print(len(i))

240
238
240
240
240

In [10]:
from pprint import pprint
num = 0 

for i in dogs_var[1]:
    print(dogs_var[1][num])
    num += 12

<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Boston-Terrier.html" title="Boston Terrier - Price, Temperament, Life span">Boston Terrier</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Havanese.html" title="Havanese - Price, Temperament, Life span">Havanese</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Bernese-Mountain-Dog.html" title="Bernese Mountain Dog - Price, Temperament, Life span">Bernese Mountain Dog</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Pomeranian.html" title="Pomeranian - Price, Temperament, Life span">Pomeranian</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Shetland-Sheepdog.html" title="Shetland Sheepdog - Price, Temperament, Life span">Shetland Sheepdog</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/French-Brittany.html" title="Brittany - Price, Temperament, Life span">Brittany</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/English-Springer-Spaniel.html" title="English Springer Spaniel - Price, Temperament, Life span">English Springer Spaniel</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/American-Cocker-Spaniel.html" title="American Cocker Spaniel - Price, Temperament, Life span">American Cocker Spaniel</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Miniature-American-Shepherd.html" title="Miniature American Shepherd - Price, Temperament, Life span">Miniature American Shepherd</a></p>
<p>#30</p>
<p>#31</p>
<p>#32</p>
<p>#33</p>
<p>#34</p>
<p>#35</p>
<p>#36</p>
<p>#37</p>
<p>#38</p>
<p>#39</p>
<p>#40</p>

IndexError: list index out of range

In [11]:
for i in dogs_var[1]:
    if i.find('a'):
        
    #if 'title' in i.get_text():
        #print(i.get_text())
        print(i.get_text())

Boston Terrier
Havanese
Bernese Mountain Dog
Pomeranian
Shetland Sheepdog
Brittany
English Springer Spaniel
American Cocker Spaniel
Miniature American Shepherd
Cane Corso
Pug
Mastiff
Border Collie
Vizsla
Chihuahua
Maltese
Basset Hound
Collie
Weimaraner
Newfoundland

In [12]:
title = []

for file in dogs_var:
    for element in file:
        if element.find('a'):
            title.append(element.get_text())

title[:4]

['Labrador Retriever', 'German Shepherd', 'Golden Retriever', 'French Bulldog']

In [13]:
data = []

for file in dogs_var:
    for element in file:
        data.append(element.get_text())
data[:3]

['Labrador Retriever', '#1', 'No']

In [14]:
title[:12]

['Labrador Retriever',
 'German Shepherd',
 'Golden Retriever',
 'French Bulldog',
 'Bulldog',
 'Poodle',
 'Beagle',
 'Rottweiler',
 'German Shorthaired Pointer',
 'Pembroke Welsh Corgi',
 'Dachshund',
 'Yorkshire Terrier']

In [15]:
data.index('Dachshund')

120

In [16]:
data[120]

'Dachshund'

In [17]:
data.index(title[2])

24

In [18]:
data2 = []

for i, j in enumerate(title):
    start = data.index(j)
    try:
        end = data.index(title[i + 1])
        data2.append(data[start:end])
    except:
        data2.append(data[start:])

In [19]:
data2[:2]

[['Labrador Retriever',
  '#1',
  'No',
  '7',
  'Price: $800 - $1500',
  '#1',
  'Cheerful',
  'Gentle',
  'Friendly',
  'Intelligent',
  'No',
  '7'],
 ['German Shepherd',
  '#2',
  'No',
  '3',
  'Price: $800 - $2000',
  '#2',
  'Courageous',
  'Intelligent',
  'Loyal',
  'Watchful',
  'No',
  '3']]

In [235]:
df = pd.DataFrame(data2)

df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [236]:
df.shape

(100, 12)

In [40]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [42]:
df.columns

RangeIndex(start=0, stop=12, step=1)

In [238]:
df.columns.name = 'dog_attr'
df.index.name = 'numbers'
df.head()

dog_attr,0,1,2,3,4,5,6,7,8,9,10,11
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [239]:
df.rename(mapper={0: 'breed'}, axis=1, inplace=True)
df.rename(mapper={1: 'popularity_rank'}, axis=1, inplace=True)
df.rename(mapper={2: 'hypoallergenic'}, axis=1, inplace=True)
df.rename(mapper={3: 'intelligence_rank'}, axis=1, inplace=True)
df.rename(mapper={4: 'price'}, axis=1, inplace=True)
df.rename(mapper={6: 'temperament1'}, axis=1, inplace=True)
df.rename(mapper={7: 'temperament2'}, axis=1, inplace=True)
df.rename(mapper={8: 'temperament3'}, axis=1, inplace=True)
df.rename(mapper={9: 'temperament4'}, axis=1, inplace=True)
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,5,temperament1,temperament2,temperament3,temperament4,10,11
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [256]:
df.tail()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,5,temperament1,temperament2,temperament3,temperament4,10,11
numbers,,,,,,,,,,,,
95,Brussels Griffon,#96,Yes,-,Price: $1500 - $2000,#96,Companionable,Sensitive,Watchful,Inquisitive,Yes,-
96,Standard Schnauzer,#97,Yes,18,Price: $1000 - $1500,#97,Lively,Trainable,Intelligent,Playful,Yes,18
97,English Setter,#98,No,37,Price: $800 - $1200,#98,Intelligent,Energetic,Mischievous,Strong Willed,No,37
98,Wire Fox Terrier,#99,Yes,51,Price: $1000 - $1500,#99,Quick,Keen,Friendly,Fearless,Yes,51
99,Neapolitan Mastiff,#100,No,-,Price: $1500 - $2500,#100,Obedient,Stubborn,Dominant,Protective,No,-

In [267]:
df = df.drop([5, 10, 11], axis=1)
df.head()

KeyError: '[5 10 11] not found in axis'

In [264]:
df.shape

(100, 9)

In [265]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   breed              100 non-null    object
 1   popularity_rank    100 non-null    object
 2   hypoallergenic     100 non-null    object
 3   intelligence_rank  100 non-null    object
 4   price              100 non-null    object
 5   temperament1       100 non-null    object
 6   temperament2       100 non-null    object
 7   temperament3       100 non-null    object
 8   temperament4       100 non-null    object
dtypes: object(9)
memory usage: 57.6 KB

In [268]:
len(df['breed'].unique()), df['breed'].unique()

(100,
 array(['Labrador Retriever', 'German Shepherd', 'Golden Retriever',
        'French Bulldog', 'Bulldog', 'Poodle', 'Beagle', 'Rottweiler',
        'German Shorthaired Pointer', 'Pembroke Welsh Corgi', 'Dachshund',
        'Yorkshire Terrier', 'Australian Shepherd', 'Boxer',
        'Siberian Husky', 'Cavalier King Charles Spaniel', 'Great Dane',
        'Miniature Schnauzer', 'Doberman Pinscher', 'Shih Tzu',
        'Boston Terrier', 'Havanese', 'Bernese Mountain Dog', 'Pomeranian',
        'Shetland Sheepdog', 'Brittany', 'English Springer Spaniel',
        'American Cocker Spaniel', 'Miniature American Shepherd',
        'Cane Corso', 'Pug', 'Mastiff', 'Border Collie', 'Vizsla',
        'Chihuahua', 'Maltese', 'Basset Hound', 'Collie', 'Weimaraner',
        'Newfoundland', 'Belgian Malinois', 'Rhodesian Ridgeback',
        'Bichon Frise', 'West Highland White Terrier', 'Shiba Inu',
        'Chesapeake Bay Retriever', 'Akita', 'St. Bernard',
        'Portuguese Water Dog', 'English Cocker Spaniel', 'Bloodhound',
        'Bullmastiff', 'Papillon', 'Soft Coated Wheaten Terrier',
        'Australian Cattle Dog', 'Scottish Terrier', 'Whippet', 'Samoyed',
        'Dalmatian', 'Airedale Terrier', 'Bull Terrier',
        'Wirehaired Pointing Griffon', 'German Wirehaired Pointer',
        'Alaskan Malamute', 'Shar-Pei', 'Cardigan Welsh Corgi',
        'Italian Greyhound', 'Dogue de Bordeaux', 'Great Pyrenees',
        'Old English Sheepdog', 'Giant Schnauzer', 'Cairn Terrier',
        'Greater Swiss Mountain Dog', 'Miniature Pinscher',
        'Jack Russell Terrier', 'Irish Wolfhound', 'Chow Chow',
        'Lhasa Apso', 'Irish Setter', 'Chinese Crested', 'Coton De Tulear',
        'Staffordshire Bull Terrier', 'Pekingese', 'Border Terrier',
        'American Staffordshire Terrier',
        'Nova Scotia Duck Tolling Retriever', 'Basenji', 'Keeshond',
        'Boykin Spaniel', 'Lagotto Romagnolo', 'Rat Terrier',
        'Bouvier des Flandres', 'Norwegian Elkhound',
        'Anatolian Shepherd Dog', 'Leonberger', 'Brussels Griffon',
        'Standard Schnauzer', 'English Setter', 'Wire Fox Terrier',
        'Neapolitan Mastiff'], dtype=object))

In [97]:
#for index in df.index:
    #print(index)

In [96]:
#for index in df.index:
    #if df.loc[index,'Name']=='Mr. Elon R. Musk':
        #df.loc[index,'Title'] = 'The Boss Man'
    #elif df.loc[index,'Name']=='Mr. Zachary J. Kirkhorn':
        #df.loc[index,'Title'] = 'The Money Man'
    #else:
        #df.loc[index,'Title'] = 'Another Dude'

In [270]:
df[3:5]

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,temperament1,temperament2,temperament3,temperament4
numbers,,,,,,,,,
3,French Bulldog,#4,No,58,Price: $2000 - $4000,Playful,Sociable,Lively,Patient
4,Bulldog,#5,No,77,Price: $2000 - $4000,Friendly,Docile,Willful,Gregarious

In [271]:
len(df['price'].unique()), df['price'].unique()

(22,
 array(['Price: $800 - $1500', 'Price: $800 - $2000',
        'Price: $1000 - $2000', 'Price: $2000 - $4000',
        'Price: $500 - $800', 'Price: $1000 - $1500',
        'Price: $600 - $1000', 'Price: $1200 - $2000',
        'Price: $800 - $1200', 'Price: $1500 - $2500',
        'Price: $800 - $1000', 'Price: $700 - $1000',
        'Price: $1500 - $2000', 'Price: $900 - $1500',
        'Price: $1200 - $1800', 'Price: $1200 - $1500',
        'Price: $1400 - $5000', 'Price: $900 - $1300',
        'Price: $800 - $1300', 'Price: $1300 - $2000',
        'Price: $2000 - $2500', 'Price: $300 - $600'], dtype=object))

In [100]:
#path = '../7_project/data'

In [272]:
df.to_csv('dog_file_scraped.csv', index=False)

Continuing cleaning dataset

In [273]:
#Clean price column

In [278]:
from string import digits
digits += '-'
digits

'0123456789-'

In [275]:
import numpy as np

In [280]:
def remove_puncs(string_piece):
    if string_piece:
        string = str(string_piece).strip()
        clean_str = ''.join([num for num in string if num in digits])
        return clean_str
    else:
        return np.nan

In [286]:
clean_price_range = [remove_puncs(s) for s in df['price']]
clean_price_range[:10]

['800-1500',
 '800-2000',
 '1000-2000',
 '2000-4000',
 '2000-4000',
 '800-1500',
 '500-800',
 '1000-1500',
 '600-1000',
 '1000-2000']

In [288]:
df['price_range'] = clean_price_range
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,temperament1,temperament2,temperament3,temperament4,price_range
numbers,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,Cheerful,Gentle,Friendly,Intelligent,800-1500
1,German Shepherd,#2,No,3,Price: $800 - $2000,Courageous,Intelligent,Loyal,Watchful,800-2000
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,Intelligent,Kind,Friendly,Confident,1000-2000
3,French Bulldog,#4,No,58,Price: $2000 - $4000,Playful,Sociable,Lively,Patient,2000-4000
4,Bulldog,#5,No,77,Price: $2000 - $4000,Friendly,Docile,Willful,Gregarious,2000-4000

In [289]:
del df['price']
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range
numbers,,,,,,,,,
0,Labrador Retriever,#1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500
1,German Shepherd,#2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000
2,Golden Retriever,#3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000
3,French Bulldog,#4,No,58,Playful,Sociable,Lively,Patient,2000-4000
4,Bulldog,#5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000

In [294]:
#saving just in case

In [291]:
df.to_csv('dog_file_scraped1.csv', index=False)

In [292]:
#Start here again

In [293]:
# use this website and the apply() function to split into min_price and max_price

In [ ]:
print("Given Dataframe is :\n",df) 
  
print("\nSplitting Name column into two different columns :")  
  
# splitting 'Name' column into Two columns  
# i.e. 'First' and 'Last'respectively and  
# Adding these columns to the existing dataframe. 
df[['First','Last']] = df.Name.apply( 
   lambda x: pd.Series(str(x).split("_")))

In [303]:
print("Given Dataframe is :\n",df.head())

print("\nSplitting the new price_range column into two different columns :") 

# splitting 'price_range' column into two columns  
# i.e. 'min_price' and 'max_price'respectively and  
# Adding these columns to the existing dataframe. 
df[['min_price','max_price']] = df.price_range.apply( 
   lambda x: pd.Series(str(x).split("-"))) 

df.head()

Given Dataframe is :
 dog_attr               breed popularity_rank hypoallergenic intelligence_rank  \
numbers
0         Labrador Retriever              #1             No                 7
1            German Shepherd              #2             No                 3
2           Golden Retriever              #3             No                 4
3             French Bulldog              #4             No                58
4                    Bulldog              #5             No                77

dog_attr temperament1 temperament2 temperament3 temperament4 price_range  \
numbers
0            Cheerful       Gentle     Friendly  Intelligent    800-1500
1          Courageous  Intelligent        Loyal     Watchful    800-2000
2         Intelligent         Kind     Friendly    Confident   1000-2000
3             Playful     Sociable       Lively      Patient   2000-4000
4            Friendly       Docile      Willful   Gregarious   2000-4000

dog_attr min_price max_price
numbers
0              800      1500
1              800      2000
2             1000      2000
3             2000      4000
4             2000      4000

Splitting the new price_range column into two different columns :

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price
numbers,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500
1,German Shepherd,#2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000
2,Golden Retriever,#3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000
3,French Bulldog,#4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000
4,Bulldog,#5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000

In [304]:
 df.to_csv('dog_file_scraped2.csv', index=False)

In [305]:
df.dtypes

dog_attr
breed                object
popularity_rank      object
hypoallergenic       object
intelligence_rank    object
temperament1         object
temperament2         object
temperament3         object
temperament4         object
price_range          object
min_price            object
max_price            object
dtype: object

In [319]:
df['min_price'] = df['min_price'].astype(int)
df['max_price'] = df['max_price'].astype(int)

In [320]:
df.dtypes

dog_attr
breed                object
popularity_rank      object
hypoallergenic       object
intelligence_rank    object
temperament1         object
temperament2         object
temperament3         object
temperament4         object
price_range          object
min_price             int64
max_price             int64
dtype: object

In [322]:
df['avg_price'] = (df['min_price'] + df['max_price']) / 2
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150.0
1,German Shepherd,#2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400.0
2,Golden Retriever,#3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500.0
3,French Bulldog,#4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000.0
4,Bulldog,#5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000.0

In [323]:
 df.to_csv('dog_file_scraped2.csv', index=False)

In [324]:
df['avg_price'] = df['avg_price'].astype(int)

In [326]:
df.dtypes

dog_attr
breed                object
popularity_rank      object
hypoallergenic       object
intelligence_rank    object
temperament1         object
temperament2         object
temperament3         object
temperament4         object
price_range          object
min_price             int64
max_price             int64
avg_price             int64
dtype: object

In [327]:
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150
1,German Shepherd,#2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400
2,Golden Retriever,#3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500
3,French Bulldog,#4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000
4,Bulldog,#5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000

In [328]:
#clean popularity rank

In [341]:
df['popularity_rank'] = df['popularity_rank'].str.replace(r'\D', '').astype(int)
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
0,Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150
1,German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400
2,Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500
3,French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000
4,Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000

In [342]:
df.tail()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
95,Brussels Griffon,96,Yes,-,Companionable,Sensitive,Watchful,Inquisitive,1500-2000,1500,2000,1750
96,Standard Schnauzer,97,Yes,18,Lively,Trainable,Intelligent,Playful,1000-1500,1000,1500,1250
97,English Setter,98,No,37,Intelligent,Energetic,Mischievous,Strong Willed,800-1200,800,1200,1000
98,Wire Fox Terrier,99,Yes,51,Quick,Keen,Friendly,Fearless,1000-1500,1000,1500,1250
99,Neapolitan Mastiff,100,No,-,Obedient,Stubborn,Dominant,Protective,1500-2500,1500,2500,2000

In [349]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
dog_attr,,,,,,,,
popularity_rank,100.0,50.5,29.011492,1.0,25.75,50.5,75.25,100.0
min_price,100.0,1005.0,328.256798,300.0,800.00,900.0,1200.00,2000.0
max_price,100.0,1653.0,656.660514,600.0,1200.00,1500.0,2000.00,5000.0
avg_price,100.0,1329.0,473.231957,450.0,1000.00,1225.0,1600.00,3200.0

In [351]:
df.isna().sum()

dog_attr
breed                0
popularity_rank      0
hypoallergenic       0
intelligence_rank    0
temperament1         0
temperament2         0
temperament3         0
temperament4         0
price_range          0
min_price            0
max_price            0
avg_price            0
dtype: int64

In [367]:
# Don't forget to make intelligence_rank column into int too
# To convert intelligence_rank column to int the misisng values represented as "-" must be replaced with 0:
df['intelligence_rank'] = df['intelligence_rank'].replace('-', 0)
df.tail()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
95,Brussels Griffon,96,Yes,0,Companionable,Sensitive,Watchful,Inquisitive,1500-2000,1500,2000,1750
96,Standard Schnauzer,97,Yes,18,Lively,Trainable,Intelligent,Playful,1000-1500,1000,1500,1250
97,English Setter,98,No,37,Intelligent,Energetic,Mischievous,Strong Willed,800-1200,800,1200,1000
98,Wire Fox Terrier,99,Yes,51,Quick,Keen,Friendly,Fearless,1000-1500,1000,1500,1250
99,Neapolitan Mastiff,100,No,0,Obedient,Stubborn,Dominant,Protective,1500-2500,1500,2500,2000

In [368]:
# Now the intelligence_rank column can be converted to intergers
df['intelligence_rank'] = df['intelligence_rank'].astype(int)

In [369]:
df.dtypes

dog_attr
breed                object
popularity_rank       int64
hypoallergenic       object
intelligence_rank     int64
temperament1         object
temperament2         object
temperament3         object
temperament4         object
price_range          object
min_price             int64
max_price             int64
avg_price             int64
dtype: object

In [372]:
# Let's now have a look at the hypoallergenic column where the missing values also are represented as "-"
len(df['hypoallergenic'].unique()), df['hypoallergenic'].unique()

(3, array(['No', 'Yes', '-'], dtype=object))

In [374]:
#Let's replace the missing value with "Unknown" since it is a categorical value 
df['hypoallergenic'] = df['hypoallergenic'].replace('-', 'Unknown')
len(df['hypoallergenic'].unique()), df['hypoallergenic'].unique()

(3, array(['No', 'Yes', 'Unknown'], dtype=object))

In [411]:
# Let's search entire dataframe and make sure there are no more missing values from first inspection 
df[df.eq("-").any(1)]

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
28,Miniature American Shepherd,29,Unknown,0,Energetic,Intelligent,Loyal,-,800-1500,800,1500,1150

In [414]:
#Temperament 4 has one missing values that can be replaced with "Unknown" since it is a categorical value 
df['temperament4'] = df['temperament4'].replace('-', 'Unknown')

#Double check for no more missing values 
df[df.eq("-").any(1)]

Empty DataFrame
Columns: [breed, popularity_rank, hypoallergenic, intelligence_rank, temperament1, temperament2, temperament3, temperament4, price_range, min_price, max_price, avg_price]
Index: []

In [415]:
df.to_csv('dog_file_scraped2.csv', index=False)

In [428]:
df['temperament'] = df['temperament1'] + ", " + df['temperament2'] + ", " + df['temperament3'] + ", " + df['temperament4']

In [429]:
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament
numbers,,,,,,,,,,,,,
0,Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent"
1,German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful"
2,Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident"
3,French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient"
4,Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious"

In [430]:
#Now it's ready for analysis 

df_ready = df.reset_index(drop=True).copy()

In [435]:
df_ready.to_csv('../7_project/data/dog_scraped/csv_files/dog_data_scraped.csv', index=False)

In [436]:
#Checking what the files looks like 

!head -n 10 dog_data_scraped.csv

breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament
Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent"
German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful"
Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident"
French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient"
Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious"
Poodle,6,Yes,2,Intelligent,Faithful,Trainable,Instinctual,800-1500,800,1500,1150,"Intelligent, Faithful, Trainable, Instinctual"
Beagle,7,No,72,Gentle,Intelligent,Even Tempered,Determined,500-800,500,800,650,"Gentle, Intelligent, Even Tempered, Determined"
Rottweiler,8,No,9,Intelligent,Courageous,Fearless,Confident,1000-1500,1000,1500,1250,"Intelligent, Courageous, Fearless, Confident"
German Shorthaired Pointer,9,No,17,Intelligent,Trainable,Boisterous,Cooperative,600-1000,600,1000,800,"Intelligent, Trainable, Boisterous, Cooperative"