# Webscraping

In this notebook I will scrape data from https://www.kaggle.com/paultimothymooney/best-in-show-data-about-dogs

The website contains info about different dog breeds' popularity rank, hypoallergenic, intelligence rank, temperament, and price range.

Let's get started! 

![Golden with glasses](https://media.giphy.com/media/SsCXHjL5vFW5mlcKWb/giphy.gif)

First let's import the libraries

In [1]:
import pandas as pd
import numpy as np
import bs4
import requests

In [2]:
dogs_list = ['dog1.html', 'dog2.html', 'dog3.html', 'dog4.html', 'dog5.html']

In [3]:
dogs_empty = []


for file in dogs_list:
    with open(file, 'r') as dogs:
        dogs_empty.append(bs4.BeautifulSoup(dogs, 'html.parser'))

In [4]:
len(dogs_empty)

5

In [5]:
for file in dogs_empty:
    print(file.title)

<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>
<title>All Dog Breeds - All Types of Dogs (373 Breeds)</title>

In [6]:
#for i in dogs_empty:
    #print(i.select("p"))

In [7]:
dogs_var = []

for file in dogs_empty:
    dogs_var.append(list(file.select("p")))

In [8]:
len(dogs_var)

5

In [9]:
for i in dogs_var:
    print(len(i))

240
238
240
240
240

In [10]:
from pprint import pprint
num = 0 

for i in dogs_var[1]:
    print(dogs_var[1][num])
    num += 12

<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Boston-Terrier.html" title="Boston Terrier - Price, Temperament, Life span">Boston Terrier</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Havanese.html" title="Havanese - Price, Temperament, Life span">Havanese</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Bernese-Mountain-Dog.html" title="Bernese Mountain Dog - Price, Temperament, Life span">Bernese Mountain Dog</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Pomeranian.html" title="Pomeranian - Price, Temperament, Life span">Pomeranian</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Shetland-Sheepdog.html" title="Shetland Sheepdog - Price, Temperament, Life span">Shetland Sheepdog</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/French-Brittany.html" title="Brittany - Price, Temperament, Life span">Brittany</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/English-Springer-Spaniel.html" title="English Springer Spaniel - Price, Temperament, Life span">English Springer Spaniel</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/American-Cocker-Spaniel.html" title="American Cocker Spaniel - Price, Temperament, Life span">American Cocker Spaniel</a></p>
<p><a href="https://www.dogbreedslist.info/all-dog-breeds/Miniature-American-Shepherd.html" title="Miniature American Shepherd - Price, Temperament, Life span">Miniature American Shepherd</a></p>
<p>#30</p>
<p>#31</p>
<p>#32</p>
<p>#33</p>
<p>#34</p>
<p>#35</p>
<p>#36</p>
<p>#37</p>
<p>#38</p>
<p>#39</p>
<p>#40</p>

IndexError: list index out of range

In [11]:
for i in dogs_var[1]:
    if i.find('a'):
        
    #if 'title' in i.get_text():
        #print(i.get_text())
        print(i.get_text())

Boston Terrier
Havanese
Bernese Mountain Dog
Pomeranian
Shetland Sheepdog
Brittany
English Springer Spaniel
American Cocker Spaniel
Miniature American Shepherd
Cane Corso
Pug
Mastiff
Border Collie
Vizsla
Chihuahua
Maltese
Basset Hound
Collie
Weimaraner
Newfoundland

In [12]:
title = []

for file in dogs_var:
    for element in file:
        if element.find('a'):
            title.append(element.get_text())

title[:4]

['Labrador Retriever', 'German Shepherd', 'Golden Retriever', 'French Bulldog']

In [13]:
data = []

for file in dogs_var:
    for element in file:
        data.append(element.get_text())
data[:3]

['Labrador Retriever', '#1', 'No']

In [14]:
title[:12]

['Labrador Retriever',
 'German Shepherd',
 'Golden Retriever',
 'French Bulldog',
 'Bulldog',
 'Poodle',
 'Beagle',
 'Rottweiler',
 'German Shorthaired Pointer',
 'Pembroke Welsh Corgi',
 'Dachshund',
 'Yorkshire Terrier']

In [15]:
data.index('Dachshund')

120

In [16]:
data[120]

'Dachshund'

In [17]:
data.index(title[2])

24

In [18]:
data2 = []

for i, j in enumerate(title):
    start = data.index(j)
    try:
        end = data.index(title[i + 1])
        data2.append(data[start:end])
    except:
        data2.append(data[start:])

In [19]:
data2[:2]

[['Labrador Retriever',
  '#1',
  'No',
  '7',
  'Price: $800 - $1500',
  '#1',
  'Cheerful',
  'Gentle',
  'Friendly',
  'Intelligent',
  'No',
  '7'],
 ['German Shepherd',
  '#2',
  'No',
  '3',
  'Price: $800 - $2000',
  '#2',
  'Courageous',
  'Intelligent',
  'Loyal',
  'Watchful',
  'No',
  '3']]

# Clean up dataframe

In [20]:
df = pd.DataFrame(data2)

df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [21]:
df.shape

(100, 12)

In [22]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [23]:
df.columns

RangeIndex(start=0, stop=12, step=1)

In [24]:
df.columns.name = 'dog_attr'
df.index.name = 'numbers'
df.head()

dog_attr,0,1,2,3,4,5,6,7,8,9,10,11
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [25]:
df.rename(mapper={0: 'breed'}, axis=1, inplace=True)
df.rename(mapper={1: 'popularity_rank'}, axis=1, inplace=True)
df.rename(mapper={2: 'hypoallergenic'}, axis=1, inplace=True)
df.rename(mapper={3: 'intelligence_rank'}, axis=1, inplace=True)
df.rename(mapper={4: 'price'}, axis=1, inplace=True)
df.rename(mapper={6: 'temperament1'}, axis=1, inplace=True)
df.rename(mapper={7: 'temperament2'}, axis=1, inplace=True)
df.rename(mapper={8: 'temperament3'}, axis=1, inplace=True)
df.rename(mapper={9: 'temperament4'}, axis=1, inplace=True)
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,5,temperament1,temperament2,temperament3,temperament4,10,11
numbers,,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,#1,Cheerful,Gentle,Friendly,Intelligent,No,7
1,German Shepherd,#2,No,3,Price: $800 - $2000,#2,Courageous,Intelligent,Loyal,Watchful,No,3
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,#3,Intelligent,Kind,Friendly,Confident,No,4
3,French Bulldog,#4,No,58,Price: $2000 - $4000,#4,Playful,Sociable,Lively,Patient,No,58
4,Bulldog,#5,No,77,Price: $2000 - $4000,#5,Friendly,Docile,Willful,Gregarious,No,77

In [26]:
df = df.drop([5, 10, 11], axis=1)

In [27]:
len(df['price'].unique()), df['price'].unique()

(22,
 array(['Price: $800 - $1500', 'Price: $800 - $2000',
        'Price: $1000 - $2000', 'Price: $2000 - $4000',
        'Price: $500 - $800', 'Price: $1000 - $1500',
        'Price: $600 - $1000', 'Price: $1200 - $2000',
        'Price: $800 - $1200', 'Price: $1500 - $2500',
        'Price: $800 - $1000', 'Price: $700 - $1000',
        'Price: $1500 - $2000', 'Price: $900 - $1500',
        'Price: $1200 - $1800', 'Price: $1200 - $1500',
        'Price: $1400 - $5000', 'Price: $900 - $1300',
        'Price: $800 - $1300', 'Price: $1300 - $2000',
        'Price: $2000 - $2500', 'Price: $300 - $600'], dtype=object))

In [28]:
from string import digits
digits += '-'
digits

'0123456789-'

In [29]:
def remove_puncs(string_piece):
    if string_piece:
        string = str(string_piece).strip()
        clean_str = ''.join([num for num in string if num in digits])
        return clean_str
    else:
        return np.nan

In [30]:
clean_price_range = [remove_puncs(s) for s in df['price']]
clean_price_range[:10]

['800-1500',
 '800-2000',
 '1000-2000',
 '2000-4000',
 '2000-4000',
 '800-1500',
 '500-800',
 '1000-1500',
 '600-1000',
 '1000-2000']

In [31]:
df['price_range'] = clean_price_range
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,price,temperament1,temperament2,temperament3,temperament4,price_range
numbers,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Price: $800 - $1500,Cheerful,Gentle,Friendly,Intelligent,800-1500
1,German Shepherd,#2,No,3,Price: $800 - $2000,Courageous,Intelligent,Loyal,Watchful,800-2000
2,Golden Retriever,#3,No,4,Price: $1000 - $2000,Intelligent,Kind,Friendly,Confident,1000-2000
3,French Bulldog,#4,No,58,Price: $2000 - $4000,Playful,Sociable,Lively,Patient,2000-4000
4,Bulldog,#5,No,77,Price: $2000 - $4000,Friendly,Docile,Willful,Gregarious,2000-4000

In [32]:
del df['price']

In [33]:
print("Given Dataframe is :\n",df.head())

print("\nSplitting the new price_range column into two different columns :") 

# splitting 'price_range' column into two columns  
# i.e. 'min_price' and 'max_price'respectively and  
# Adding these columns to the existing dataframe. 
df[['min_price','max_price']] = df.price_range.apply( 
   lambda x: pd.Series(str(x).split("-"))) 

df.head()

Given Dataframe is :
 dog_attr               breed popularity_rank hypoallergenic intelligence_rank  \
numbers
0         Labrador Retriever              #1             No                 7
1            German Shepherd              #2             No                 3
2           Golden Retriever              #3             No                 4
3             French Bulldog              #4             No                58
4                    Bulldog              #5             No                77

dog_attr temperament1 temperament2 temperament3 temperament4 price_range
numbers
0            Cheerful       Gentle     Friendly  Intelligent    800-1500
1          Courageous  Intelligent        Loyal     Watchful    800-2000
2         Intelligent         Kind     Friendly    Confident   1000-2000
3             Playful     Sociable       Lively      Patient   2000-4000
4            Friendly       Docile      Willful   Gregarious   2000-4000

Splitting the new price_range column into two different columns :

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price
numbers,,,,,,,,,,,
0,Labrador Retriever,#1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500
1,German Shepherd,#2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000
2,Golden Retriever,#3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000
3,French Bulldog,#4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000
4,Bulldog,#5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000

In [34]:
df.dtypes

dog_attr
breed                object
popularity_rank      object
hypoallergenic       object
intelligence_rank    object
temperament1         object
temperament2         object
temperament3         object
temperament4         object
price_range          object
min_price            object
max_price            object
dtype: object

In [35]:
df['min_price'] = df['min_price'].astype(int)
df['max_price'] = df['max_price'].astype(int)

In [36]:
df['avg_price'] = (df['min_price'] + df['max_price']) / 2

In [37]:
df['avg_price'] = df['avg_price'].astype(int)

In [38]:
df['popularity_rank'] = df['popularity_rank'].str.replace(r'\D', '').astype(int)

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
dog_attr,,,,,,,,
popularity_rank,100.0,50.5,29.011492,1.0,25.75,50.5,75.25,100.0
min_price,100.0,1005.0,328.256798,300.0,800.00,900.0,1200.00,2000.0
max_price,100.0,1653.0,656.660514,600.0,1200.00,1500.0,2000.00,5000.0
avg_price,100.0,1329.0,473.231957,450.0,1000.00,1225.0,1600.00,3200.0

In [40]:
# Don't forget to make intelligence_rank column into int too
# To convert intelligence_rank column to int the misisng values represented as "-" must be replaced with 0:
df['intelligence_rank'] = df['intelligence_rank'].replace('-', 0)
df.tail()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
95,Brussels Griffon,96,Yes,0,Companionable,Sensitive,Watchful,Inquisitive,1500-2000,1500,2000,1750
96,Standard Schnauzer,97,Yes,18,Lively,Trainable,Intelligent,Playful,1000-1500,1000,1500,1250
97,English Setter,98,No,37,Intelligent,Energetic,Mischievous,Strong Willed,800-1200,800,1200,1000
98,Wire Fox Terrier,99,Yes,51,Quick,Keen,Friendly,Fearless,1000-1500,1000,1500,1250
99,Neapolitan Mastiff,100,No,0,Obedient,Stubborn,Dominant,Protective,1500-2500,1500,2500,2000

In [41]:
# Now the intelligence_rank column can be converted to intergers
df['intelligence_rank'] = df['intelligence_rank'].astype(int)

In [42]:
# Let's now have a look at the hypoallergenic column where the missing values also are represented as "-"
len(df['hypoallergenic'].unique()), df['hypoallergenic'].unique()

(3, array(['No', 'Yes', '-'], dtype=object))

In [43]:
#Let's replace the missing value with "Unknown" since it is a categorical value 
df['hypoallergenic'] = df['hypoallergenic'].replace('-', 'Unknown')
len(df['hypoallergenic'].unique()), df['hypoallergenic'].unique()

(3, array(['No', 'Yes', 'Unknown'], dtype=object))

In [44]:
# Let's search entire dataframe and make sure there are no more missing values from first inspection 
df[df.eq("-").any(1)]

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price
numbers,,,,,,,,,,,,
28,Miniature American Shepherd,29,Unknown,0,Energetic,Intelligent,Loyal,-,800-1500,800,1500,1150

In [45]:
#Temperament 4 has one missing values that can be replaced with "Unknown" since it is a categorical value 
df['temperament4'] = df['temperament4'].replace('-', 'Unknown')

#Double check for no more missing values 
df[df.eq("-").any(1)]

Empty DataFrame
Columns: [breed, popularity_rank, hypoallergenic, intelligence_rank, temperament1, temperament2, temperament3, temperament4, price_range, min_price, max_price, avg_price]
Index: []

In [46]:
df['temperament'] = df['temperament1'] + ", " + df['temperament2'] + ", " + df['temperament3'] + ", " + df['temperament4']

In [47]:
df.head()

dog_attr,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament
numbers,,,,,,,,,,,,,
0,Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent"
1,German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful"
2,Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident"
3,French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient"
4,Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious"

In [48]:
#Now it's ready for analysis 

df_ready = df.reset_index(drop=True).copy()

In [49]:
df_ready.to_csv('../7_project/data/dog_scraped/csv_files/dog_data_scraped.csv', index=False)

In [50]:
#Checking what the files looks like 

!head -n 10 dog_data_scraped.csv

breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament
Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent"
German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful"
Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident"
French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient"
Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious"
Poodle,6,Yes,2,Intelligent,Faithful,Trainable,Instinctual,800-1500,800,1500,1150,"Intelligent, Faithful, Trainable, Instinctual"
Beagle,7,No,72,Gentle,Intelligent,Even Tempered,Determined,500-800,500,800,650,"Gentle, Intelligent, Even Tempered, Determined"
Rottweiler,8,No,9,Intelligent,Courageous,Fearless,Confident,1000-1500,1000,1500,1250,"Intelligent, Courageous, Fearless, Confident"
German Shorthaired Pointer,9,No,17,Intelligent,Trainable,Boisterous,Cooperative,600-1000,600,1000,800,"Intelligent, Trainable, Boisterous, Cooperative"