# Last data cleaning!

In this notebook, we will combine out two datasets and do the final cleaning. 

![Corgi](https://media.giphy.com/media/OqBvKFGztLpni/giphy.gif)

In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
df1 = pd.read_csv('../7_project/data/dog_show/csv_files/cleaned_messy_dogs.csv')
df1.head()

,breed,breed_category,grooming_required_3scale,suitability_children_3scale,size_category,intel_category,price_bracket,lifetime_cost_USD,shoulder_height_cm,weight_kg,longevity_years,pop_us,avg_pur_USD,grooming_required_pct,intel_train_rank_pct,food_per_week_USD,food_per_lifetime_USD
0,Border Collie,herding,medium,low,medium,Brightest,budget,20143.0,51,17.5,12.52,45,623.0,75.0,100.0,5.34,3476.553635
1,Border Terrier,terrier,medium,high,small,Above average,mid-price,22638.0,28,6.0,14.00,80,833.0,75.0,70.0,5.34,3887.519897
2,Brittany,sporting,medium,medium,medium,Excellent,budget,22589.0,48,16.0,12.92,30,618.0,75.0,80.0,7.67,5153.012783
3,Cairn Terrier,terrier,medium,high,small,Above average,budget,21992.0,25,6.0,13.84,59,435.0,75.0,61.0,5.34,3843.091141
4,Welsh Springer Spaniel,sporting,medium,high,medium,Above average,mid-price,20224.0,46,22.5,12.49,130,750.0,75.0,69.0,5.34,3468.223045

In [3]:
df2 = pd.read_csv('../7_project/data/dog_scraped/csv_files/dog_data_scraped.csv')
df2.head()

,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament
0,Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent"
1,German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful"
2,Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident"
3,French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient"
4,Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious"

## Let's join the dataframes

In [4]:
# Joining the dataframes                       
df3 = pd.merge(df2, df1, how ='inner', on ='breed')
df3.head()

,breed,popularity_rank,hypoallergenic,intelligence_rank,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament,breed_category,grooming_required_3scale,suitability_children_3scale,size_category,intel_category,price_bracket,lifetime_cost_USD,shoulder_height_cm,weight_kg,longevity_years,pop_us,avg_pur_USD,grooming_required_pct,intel_train_rank_pct,food_per_week_USD,food_per_lifetime_USD
0,Labrador Retriever,1,No,7,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent",sporting,medium,high,medium,Brightest,mid-price,21299.0,58,31.0,12.04,1,810.0,75.0,93.0,7.67,4802.033541
1,German Shepherd,2,No,3,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful",herding,medium,medium,large,Brightest,mid-price,17416.0,61,28.0,9.73,2,820.0,75.0,98.0,7.67,3880.712982
2,Golden Retriever,3,No,4,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident",sporting,medium,high,medium,Brightest,mid-price,21447.0,58,27.0,12.04,4,958.0,75.0,97.0,7.67,4802.033541
3,French Bulldog,4,No,58,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient",non_sporting,medium,high,medium,Fair,high-end,17266.0,45,12.0,9.00,18,1900.0,75.0,28.0,7.67,3589.559967
4,Bulldog,5,No,77,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious",non_sporting,medium,medium,medium,Lowest,high-end,13479.0,45,20.0,6.29,6,2680.0,75.0,3.0,7.67,2508.703562

In [30]:
print(f'The length of the new dataframe is {len(df3)}, and it has {len(df3.columns)} columns:, {df3.columns}')

The length of the new dataframe is 90, and it has 29 columns:, Index(['breed', 'popularity_rank', 'hypoallergenic', 'intelligence_rank',
       'temperament1', 'temperament2', 'temperament3', 'temperament4',
       'price_range', 'min_price', 'max_price', 'avg_price', 'temperament',
       'breed_category', 'grooming_required_3scale',
       'suitability_children_3scale', 'size_category', 'intel_category',
       'price_bracket', 'lifetime_cost_USD', 'longevity_years',
       'shoulder_height_cm', 'weight_kg', 'pop_us', 'avg_pur_USD',
       'grooming_required_pct', 'intel_train_rank_pct', 'food_per_week_USD',
       'food_per_lifetime_USD'],
      dtype='object')

In [6]:
df3.duplicated().sum()

0

Let's remove the columns that are the same or similar from the two different dataset after further inspection

In [8]:
drop_cols = ['avg_pur_USD', 'intelligence_rank', 'pop_us']

In [9]:
df3 = df3.drop(drop_cols, axis=1)

In [10]:
df3.head()

,breed,popularity_rank,hypoallergenic,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament,breed_category,grooming_required_3scale,suitability_children_3scale,size_category,intel_category,price_bracket,lifetime_cost_USD,shoulder_height_cm,weight_kg,longevity_years,grooming_required_pct,intel_train_rank_pct,food_per_week_USD,food_per_lifetime_USD
0,Labrador Retriever,1,No,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent",sporting,medium,high,medium,Brightest,mid-price,21299.0,58,31.0,12.04,75.0,93.0,7.67,4802.033541
1,German Shepherd,2,No,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful",herding,medium,medium,large,Brightest,mid-price,17416.0,61,28.0,9.73,75.0,98.0,7.67,3880.712982
2,Golden Retriever,3,No,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident",sporting,medium,high,medium,Brightest,mid-price,21447.0,58,27.0,12.04,75.0,97.0,7.67,4802.033541
3,French Bulldog,4,No,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient",non_sporting,medium,high,medium,Fair,high-end,17266.0,45,12.0,9.00,75.0,28.0,7.67,3589.559967
4,Bulldog,5,No,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious",non_sporting,medium,medium,medium,Lowest,high-end,13479.0,45,20.0,6.29,75.0,3.0,7.67,2508.703562

Now it's ready for analysis

In [11]:
df3 = df3.reset_index(drop=True).copy()

In [12]:
df3.to_csv('../7_project/data/df_ready/csv_files/final_clean_data.csv', index=False)

In [13]:
#Checking what the files looks like 

!head -n 10 ../7_project/data/df_ready/csv_files/final_clean_data.csv

breed,popularity_rank,hypoallergenic,temperament1,temperament2,temperament3,temperament4,price_range,min_price,max_price,avg_price,temperament,breed_category,grooming_required_3scale,suitability_children_3scale,size_category,intel_category,price_bracket,lifetime_cost_USD,shoulder_height_cm,weight_kg,longevity_years,grooming_required_pct,intel_train_rank_pct,food_per_week_USD,food_per_lifetime_USD
Labrador Retriever,1,No,Cheerful,Gentle,Friendly,Intelligent,800-1500,800,1500,1150,"Cheerful, Gentle, Friendly, Intelligent",sporting,medium,high,medium,Brightest,mid-price,21299.0,58,31.0,12.039999961853027,75.0,93.0,7.67,4802.033540693666
German Shepherd,2,No,Courageous,Intelligent,Loyal,Watchful,800-2000,800,2000,1400,"Courageous, Intelligent, Loyal, Watchful",herding,medium,medium,large,Brightest,mid-price,17416.0,61,28.0,9.729999542236328,75.0,98.0,7.67,3880.7129817932146
Golden Retriever,3,No,Intelligent,Kind,Friendly,Confident,1000-2000,1000,2000,1500,"Intelligent, Kind, Friendly, Confident",sporting,medium,high,medium,Brightest,mid-price,21447.0,58,27.0,12.039999961853027,75.0,97.0,7.67,4802.033540693666
French Bulldog,4,No,Playful,Sociable,Lively,Patient,2000-4000,2000,4000,3000,"Playful, Sociable, Lively, Patient",non_sporting,medium,high,medium,Fair,high-end,17266.0,45,12.0,9.0,75.0,28.0,7.67,3589.559967041016
Bulldog,5,No,Friendly,Docile,Willful,Gregarious,2000-4000,2000,4000,3000,"Friendly, Docile, Willful, Gregarious",non_sporting,medium,medium,medium,Lowest,high-end,13479.0,45,20.0,6.289999961853027,75.0,3.0,7.67,2508.7035617507936
Poodle,6,Yes,Intelligent,Faithful,Trainable,Instinctual,800-1500,800,1500,1150,"Intelligent, Faithful, Trainable, Instinctual",non_sporting,medium,medium,medium,Brightest,mid-price,21237.0,41,16.0,11.949999809265135,75.0,99.0,7.67,4766.137880165101
Beagle,7,No,Gentle,Intelligent,Even Tempered,Determined,500-800,500,800,650,"Gentle, Intelligent, Even Tempered, Determined",hound,high,high,small,Lowest,budget,19468.0,36,11.0,12.300000190734865,50.0,9.0,5.34,3415.463962875365
Rottweiler,8,No,Intelligent,Courageous,Fearless,Confident,1000-1500,1000,1500,1250,"Intelligent, Courageous, Fearless, Confident",working,medium,medium,large,Brightest,mid-price,18886.0,62,52.0,9.109999656677246,75.0,91.0,11.67,5528.31243631133
German Shorthaired Pointer,9,No,Intelligent,Trainable,Boisterous,Cooperative,600-1000,600,1000,800,"Intelligent, Trainable, Boisterous, Cooperative",sporting,medium,high,large,Excellent,budget,25842.0,61,28.0,11.460000038146973,75.0,84.0,14.0,8342.880027770996

# Finished with the cleaning

Alright that was a big clean up round. 

Ready to head to notebook 4 for final analysis! 

![Corgis](https://media.giphy.com/media/dY47nnK79ipqM/giphy.gif)